.centered-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.field-box {
    border: 2px solid #828282;
    border-radius: 20px;
    padding: 20px
}

.dropdown {
    width: 20%;
    min-width: 100px;
}

.field-title {
    margin-right: 20px
}
